<h1>All Users</h1>

<!-- Search form -->
<div class="row">
  <div class="col-md-4">
    <%= form_tag users_path, method: :get, class: "navbar-form navbar-left search-form" do %>
      <%= text_field_tag(
          :search,
          params[:search],
          placeholder: "Search"
      ) %>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>

<% unless current_page?("http://localhost:3000/users", check_parameters: true) %>
  <p><%= link_to "Back to users list", users_path %></p>
<% end %>

<!-- Pagination -->
<div class="row justify-content-center">
 <ul class="pagination">
    <li class="page-item <%= @page == 1 ? 'disabled' : '' %>">
      <% if @page > 1 %>
        <%= link_to "<< Previous", users_path(page: @page - 1, search: params[:search]), class: "page-link" %>
      <% end %>
    </li>

    <% (@total.div(10) + 1).times do |n| %>
      <li class="page-item">
        <%= link_to "#{n + 1}", users_path(page: n + 1, search: params[:search]), class: "page-link" %>
      </li>
    <% end %>

    <li class="page-item">
      <% if @page <= (@total.div(10) + 1) %>
        <%= link_to "Next >>", users_path(page: @page + 1, search: params[:search]), class: "page-link" %>
      <% end %>
    </li>
 </ul>
</div>

<!-- Users -->
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col" colspan="2">CVs</th>
    </tr>
  </thead>
  <% @users.each do |n| %>
  <tbody>
    <tr>
      <td><%= n.username %></td>
      <td><%= n.email %></td>
      <td>
        <% n.cvs.each do |c| %>
          <table>
            <tr>
              <td><%= link_to "Download this CV", rails_blob_path(c.filename, disposition: 'attachment') %></td>
              <td>
                <%= form_for(:job_relationship, url: job_relationships_path) do |f| %>
                  <%= hidden_field_tag :cv_id, c.id %>
                  <%= select("job", "job_id", Job.all.collect {|p| [ p.job_name, p.id ] },
                  { prompt: "Select a job" }) %>
                  <%= f.submit "Send CV to Job", class: "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
          </table>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
